// Colors
$primary: #1c1d1f;
$secondary: #7f4efc;
$tertiary: #6a6f73;
$primary-accentuation: #0c0d0e;
$secondary-accentuation: #652fec;

$white-accentuation: #f7f3f3;
$tertiary-accentuation: #6a6f736b;
$white: #fff;
$black: #000;


// Transitions
$base-transition: all ease-in-out 0.1s;

// Shadow
$base-shadow: 0 0 15px 0 $tertiary-accentuation;
$base-shadow-faded: 0 0 15px 0 #6a6f7348;