.card-formation{
  position: relative;
  width: 280px;
  display: flex;
  flex-direction: column;
  border: 2px solid $white-accentuation;
  height: 300px;
  gap: 8px;
  margin: 10px 0;
  transition: $base-transition;

  h3 {
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  span{
    font-size: 0.8rem;
    color: $tertiary;
  }

  .card-price{
    font-weight: 700;
  }

  .img{
    height: 160px;
    font-family: 'Courier New', Courier, monospace;
  }

  .master-details{
    z-index: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    right: -10px;
    background-color: $white;
    box-shadow: 0 0 10px 0px $tertiary-accentuation;
    transform: translateX(100%) scale(0);
    transition: $base-transition;

    .updated, strong{
      color: $tertiary;
      font-size: 13px;
    }

    strong{
      font-weight: 700;
    }

    .details-content {
      font-size: 15px;
      line-height: 19px;
    }

    .card-bottom{
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      width: 100%;

      .btn-primary{
        width: 100%;
      }
    }
  }

  &:hover{
    .master-details{
      transform: translateX(100%) ;
      transition: $base-transition;
    }
  }
}