footer{
  background-color: $primary;
  ul,
  li,
  a,
  p,
  h2, 
  span {
    color: $tertiary;
    text-transform: capitalize;
    font-weight: 600;
    //color: $white-accentuation;
  }

  li, span{
    padding: 5px 0;
    transition: $base-transition;
  }

  .links{
    display: flex;
    gap: 10px;
    justify-content: space-between;

    a{
      font-size: 25px;
    }
  }

  .footer-links a:hover{
    color: $white-accentuation;
    text-decoration: underline;
  }

  .footer-links li:hover{
    transform: translateX(2px);
    transition: $base-transition;
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.footer-links{
  display: flex;
  gap: 180px;
}