.hero{
  position: relative;

  .filter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    z-index: 80;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      transparent);

  }

  button{
    // Left and right arrows
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 90;
    transform: translateY(-50%);
    background-color: $primary;
    border: transparent;
    border-radius: 50px;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 1rem;
      height: 1rem;
      transform: translateX(1px);
    }

    &.left{
      left: 10px;
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.slider{
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  
  .slide-content{
    z-index: -1;
    max-width: 370px;
    padding: 20px;
    top: 50%;
    left: 60px;
    transform: translateY(-20%);
    background-color: $white;
    position: absolute;
    display: flex;
    gap: 15px;
    box-shadow: $base-shadow;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: $transition-2x;
    opacity: 0;

    &.active{
      z-index: 100;
      opacity: 1;
      transition: $transition-2x;
      transform: translateY(-50%);
    }
  }


  .slide{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 60px;
    gap: 40px;
  }
}

.slider-bg-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .slide-bg{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  @for $i from 0 through 6{
    .slide-bg-#{$i} {
      left: $i * 100%;
      z-index: $i;
    }

    &.active-#{$i}{
      @for $j from 0 through 6 {
        .slide-bg-#{$j} {
          transform: translateX($i * -100%);
          transition: $transition-2x;
        }
      }
    }
  }
}