*{
  scroll-behavior: smooth;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary;
  padding: 1rem 1rem;
  font-weight: 600;
  transition: $base-transition;


  &.btn-rounded {
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  &.btn-primary {
    color: $white-accentuation;
    background-color: $secondary;
    border-color: $secondary;

    &:hover{
      background-color: $secondary-accentuation;
      border-color: $secondary-accentuation;
      transition: $base-transition;
    }

    &:active{
      background-color: $secondary;
    }
  }

  &.btn-light, &.btn-icon{
    background-color: transparent;

    &:hover{
      background-color: $white-accentuation;
      transition: $base-transition;
    }

    &:active{
      background-color: $white;
    }
  }

  &.btn-dark{
    background-color: $primary;
    color: $white-accentuation;

    &:hover{
      background-color: $primary-accentuation;
      transition: $base-transition;
    }

    &:active{
      background-color: $primary;
    }
  }
}

.icon{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page, .view {
  padding-top: 78px;
  min-height: 600px;
}

.container{
  position: relative;
  max-width: 1400px;
  margin: 0 auto;

  &.container-pdg{
    &>div{
      padding: 35px 60px;
    }
  }
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: serif;
  margin-bottom: 20px;
}


h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: serif;
  margin: 15px 0;
}

// Back to top button

#back-to-top{
  background-color: white;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: -1;
  transform: translateY(10px);
  opacity: 0;
  transition: $base-transition;

  &.visible{
    opacity: 1;
    transform: translateY(0);
    z-index: initial;
    transition: $base-transition;
  }
}