@import "../variables";

.selection {
  h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: serif;
    margin: 20px 0;
  }
}

.partners-img{
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;

  img{
    width: auto;
    height: 40px;
  }
}

.feedback, .upskill{
  &.gray{
    background-color: $white-accentuation;  
  }

  .content{
    max-width: 900px;
    margin: auto;
  }
  .content>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
    margin: 50px 0;

    div.text{
      max-width: 25rem;
    }
  }

  .form{
    max-width: 400px;
  }
}