.page {
  display: flex;
  justify-content: center;
}
.page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.page .content h1 {
  font-size: 30px;
  font-weight: 700;
}
